@import '../../../theme/web/custom-variables';



.chat-balloon-right{
border-radius:10px;
background-color: lightblue;

width: 90%;
margin-left: 10%;

}

.chat-balloon-left{
border-radius:10px;
background-color: lightgray;

width: 90%;
margin-right: 10%;

}

.message-area{

    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
}

.message-list{
    overflow-y: auto;
    height:70%;

}
